<template>
  <div style="position: relative" class="">
    <div
      class="progress position-absolute top-0 left-0 right-0"
      style="top: -20px; width: 100%"
    >
      <b-progress
        style="width: 100%; cursor: pointer"
        :value="progress * 100"
        :max="100"
        :min="0"
        :variant="'warning'"
        @click.native="onProgressClick"
      ></b-progress>
    </div>
    <div class="player-separator container-lg">
      <div>
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <b-button
              @click="onClickPrev"
              variant="light"
              class="d-none d-sm-block"
            >
              <b-icon
                :style="{
                  color: playPointer && playPointer > 0 ? '#000' : '#e7e7e7',
                }"
                icon="skip-backward-fill"
              ></b-icon>
            </b-button>
          </li>
          <li class="list-inline-item">
            <b-button @click="togglePlayback" variant="light">
              <b-icon v-if="!playing" icon="play-fill"></b-icon>
              <b-icon v-else icon="pause-fill"></b-icon>
            </b-button>
          </li>
          <li class="list-inline-item">
            <b-button
              @click="onClickNext"
              variant="light"
            >
              <b-icon icon="skip-forward-fill"></b-icon>
            </b-button>
          </li>
          <li class="list-inline-item" style="width: 50px; height: 50px">
            <img :src="track.thumbnail" style="width: 100%; height: 100%" />
          </li>
          <li class="list-inline-item">
            <div class="player-text">
              <p class="lead font-weight-bold text-left align-middle">
                <strong>{{ this.track.author }}</strong>
              </p>
              <p class="small text-left align-middle">{{ this.track.title }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list-inline m-0">
          <li class="list-inline-item d-none d-sm-block">
            <b-dropdown variant="light" id="dropdown-dropup" no-caret>
              <template #button-content>
                <b-icon icon="volume-up-fill"></b-icon>
              </template>
              <b-dropdown-item
                ><b-form-input
                  id="range-1"
                  type="range"
                  min="0"
                  max="100"
                  @change="onVolumeChange"
                  v-model="volume"
                ></b-form-input
              ></b-dropdown-item>
            </b-dropdown>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { Howl, Howler } from "howler";
import axios from "axios";

export default {
  props: ["playlist", "party"],
  methods: {
    onProgressClick(e) {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      const target =
        e.target.classList[0] === "progress-bar"
          ? e.target.parentNode
          : e.target;
      if (this.howl) {
        var x = e.x - target.offsetLeft,
          clickedValue = (x * 100) / target.offsetWidth;
        const seek = (this.duration / 100) * clickedValue;
        console.log(clickedValue, seek);
        this.howl.seek(seek);
        this.seekPoll();
      }
    },
    onClickNext() {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      console.log("on click next");
      this.clear();
      if (this.howl) {
        this.howl.unload();
        this.howl = null;
      }

      this.playPointer =
        this.playPointer + 1 > this.playlist.length - 1
          ? (this.playPointer = 0)
          : this.playPointer + 1;
      this.togglePlayback();
    },
    onClickPrev() {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      console.log("on click prev");
      this.clear();

      if (this.howl) {
        this.howl.unload();
        this.howl = null;
      }

      this.playPointer = this.playPointer - 1;
      this.togglePlayback();
    },
    onVolumeChange() {
      Howler.volume(this.playerVolume);
    },
    onEnd() {
      console.log("end track");
      this.onClickNext();
    },
    onSeek() {
      console.log("on seek");
    },
    seekPoll() {
      this.seek = this.howl.seek();
      this.duration = this.howl.duration();
    },
    clear() {
      this.clearInterval();
    },
    enableSeekPoll() {
      this.intervalId = setInterval(() => {
        this.seekPoll();
      }, 1000 / 4);
    },
    disableSeekPoll() {
      this.clearInterval();
    },
    clearInterval() {
      clearInterval(this.intervalId);
      this.intervalId = undefined;
    },
    seekPlaylistItem(pointer) {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      if (pointer > this.playlist.length - 1) {
        return;
      }

      if (this.howl !== null) {
        this.clear();
        this.howl.unload();
        this.howl = null;
      }

      this.playPointer = pointer;
      this.togglePlayback();
    },
    play() {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      for (let key in this.cache) {
        if (key === this.playlist[this.playPointer].trackId) {
          continue;
        }

        this.cache[key].stop();
        this.cache[key].unload();
        delete this.cache[key];
      }

      this.howl.play();
      this.enableSeekPoll();
    },
    pause() {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      this.howl.pause();
      this.disableSeekPoll();
    },
    togglePlayback() {
      if (this.lock) {
        console.log("sorry, locked");
        return;
      }
      if (this.howl) {
        if (this.playing) {
          console.log("pause");
          this.pause();
        } else {
          console.log("play");
          this.play();
        }
      } else {
        this.lock = true;
        if (!this.playPointer) {
          this.playPointer = 0;
        }

        console.log(this.playlist[this.playPointer]);
        const trackId = this.playlist[this.playPointer].trackId;
        this.loadMp3(trackId)
          .then((mp3) => {
            if (mp3 === "") {
              this.lock = false;
              console.log(`mp3 for track ${trackId} not found`);
              return;
            }
            const cached = this.cache[trackId];
            if (cached) {
              console.log("open from cache");
            }

            this.howl =
              cached ||
              new Howl({
                src: mp3,
                volume: this.playerVolume,
                html5: true,
                loop: false,
                preload: true,
                autoplay: false,
                format: ["mp3"],
                mute: false,
                onseek: this.onSeek,
                onend: this.onEnd,
                onloaderror: (err) => {
                  console.log("l", err);
                },
                onload: () => {
                  console.log("loaded");
                  if (!this.howl.playing()) {
                    this.howl.play();
                    this.enableSeekPoll();
                  }
                  this.lock = false;
                },
                onplayerror: (err, err2) => {
                  console.log("p", err, err2);
                },
              });

            console.log(this.howl);

            if (Object.keys(this.cache).length > 20) {
              this.resetCache();
            }

            this.cache[trackId] = this.howl;

            this.$set(this, "track", this.playlist[this.playPointer]);

            this.duration = this.howl.duration();
            if (this.howl.state() === "unloaded") {
              this.howl.load();
              console.log("was unloaded");
            }

            this.play();
            this.$emit("select-song", this.playPointer);
            console.log("play");
          })
          .catch((er) => {
            this.lock = false;
            console.log(
              `mp3 for track ${trackId} get error, switch to next`,
              er
            );
            this.onClickNext();
            return;
          });
      }
    },
    resetCache() {
      this.cache = {};
    },
    loadMp3(trackId) {
      return new Promise((resolve, reject) => {
        axios
          .get(`/api/v1/track/${trackId}`)
          .then((response) => {
            resolve(response.data.trackUrl);
          })
          .catch((err) => {
            reject(err);
          });
      });
    },
  },
  mounted() {
    document.body.onkeydown = (e) => {
      if (e.keyCode == 32) {
        e.preventDefault();
      }
      if (e.keyCode === 40) {
        e.preventDefault();
        this.volume = this.volume - 10 <= 0 ? 0 : this.volume - 10;
        this.onVolumeChange();
      }
      if (e.keyCode === 38) {
        e.preventDefault();
        this.volume = this.volume + 10 >= 100 ? 100 : this.volume + 10;
        this.onVolumeChange();
      }
    };
    document.body.onkeyup = (e) => {
      if (e.keyCode == 32) {
        e.preventDefault();
        this.togglePlayback();
      }

      const step = this.duration / 50;
      if (e.keyCode === 39) {
        e.preventDefault();
        if (this.howl.playing() && this.howl.state() === "loaded") {
          this.howl.seek(this.howl.seek() + step);
          console.log(this.howl.state(), this.howl.playing());
          this.seekPoll();
        }
      }
      if (e.keyCode === 37) {
        e.preventDefault();
        if (this.howl.playing() && this.howl.state() === "loaded") {
          if (this.howl.seek() - step <= 0) {
            this.howl.seek(0);
          } else {
            this.howl.seek(this.howl.seek() - step);
          }
          this.seekPoll();
        }
      }
    };
  },
  data() {
    return {
      intervalId: undefined,
      duration: 0,
      seek: 0,
      playPointer: undefined,
      howl: null,
      volume: 100,
      track: {},
      cache: {},
      lock: false,
    };
  },
  computed: {
    playing() {
      return !this.howl ? false : this.howl.playing();
    },
    progress() {
      return !this.howl
        ? 0
        : this.seek / (this.duration === 0 ? 1 : this.duration);
    },
    playerVolume() {
      return this.volume / 100;
    },
  },
};
</script>
<style>
@import "./../assets/scss/style.scss";
</style>
<style lang="scss">
.progress-bar {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}
.progress {
  border-radius: 0;
}

.progress-bar.active,
.progress.active .progress-bar {
  -webkit-animation: initial !important;
  -o-animation: initial !important;
  animation: initial !important;
}
</style>
