<template>
  <div class="container-lg">
    <b-navbar toggleable="sm" type="ligth" variant="light">
      <b-navbar-brand href="#">Яндекс Вечеринка</b-navbar-brand>
    </b-navbar>

    <div class="mx-auto mt-4" vertical-align="center">
      <b-form class="form-signin" @submit="onSubmit">
        <h1>Создать вечеринку</h1>
        <label class="small" for="input-1">Ваш Яндекс логин</label>
        <b-form-input
          id="input-1"
          type="text"
          placeholder="Enter yandex login"
          v-model="yandexLogin"
          required
          :disabled="!loading ? undefined : 'disabled'"
        >
          ></b-form-input
        >
        <div style="position: relative">
          <label class="small" for="input-2">Название вечеринки</label>
          <b-form-input
            id="input-2"
            type="text"
            placeholder="Введите название вечеринки"
            v-model="partyName"
            style="width: 87%"
            required
            :disabled="!loading ? undefined : 'disabled'"
          >
          </b-form-input>
          <b-button
            @click="regeneratePartyName"
            style="position: absolute; right: 0; top: 42px"
            variant="light"
          >
            <b-icon icon="arrow-repeat"></b-icon>
          </b-button>
        </div>

        <b-button
          class="btn-lg btn-block"
          :disabled="!loading ? undefined : 'disabled'"
          type="submit"
          variant="dark"
          >Создать</b-button
        >
      </b-form>
    </div>
    <div v-if="parties.length > 0" class="mx-auto mt-4" vertical-align="center">
      <div style="width: 100%; max-width: 450px; padding: 10px; margin: 0 auto">
        <h2>Мои вечеринки:</h2>
        <div v-for="(party) in parties" :key="party.partyId">
          <router-link :to="{ name: 'party', params: { uid: party.partyId }}" class="text-info">{{party.partyName}}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ls from "local-storage";
import { checkYandexLoginExists, generatePartyName } from "../lib/utils";

export default {
  data() {
    return {
      yandexLogin: ls(`yaparty_login`) || "",
      partyName: generatePartyName(),
      loading: false,
      parties: []
    };
  },
  mounted() {
    const parties = ls(`yaparty_parties`) || {};
    let preparedParties = [];
    for (let key in parties) {
      const item = parties[key];
      preparedParties.push({
        partyId: key,
        partyName: item.partyName,
        timestamp: item.timestamp
      });
    }
    preparedParties.sort((a,b) => {
      return b.timestamp - a.timestamp;
    });
    console.log(preparedParties);
    this.parties = preparedParties;
  },
  methods: {
    regeneratePartyName() {
      this.partyName = generatePartyName();
    },
    onSubmit(event) {
      this.loading = true;
      event.preventDefault();
      checkYandexLoginExists(this.yandexLogin)
        .then(() => {
          axios
            .post(`/api/v1/party`, {
              login: this.yandexLogin,
              partyName: this.partyName,
            })
            .then((response) => {
              const { uid } = response.data;
              ls(`yaparty_${uid}`, this.yandexLogin);
              ls(`yaparty_login`, this.yandexLogin);
              this.$router.push({ name: "party", params: { uid: uid } });
            })
            .finally(() => {
              this.loading = false;
            });
        })
        .catch(() => {
          this.yandexLogin = "";
          this.loading = false;
          alert("Такого логина в yandex не существует");
        });
    },
  },
};
</script>

<style>
.form-signin input {
  margin: 1em 0;
}
</style>
