<template>
  <div class="container-lg">
    <b-navbar toggleable="sm" type="ligth" variant="light">
      <b-navbar-brand href="#">Яндекс Вечеринка</b-navbar-brand>
    </b-navbar>
    <b-row>
      <b-form class="form-signin mt-4" @submit="onSubmit">
        <h1>Войти на вечеринку</h1>
        <h4>{{ partyName }}</h4>
        <label class="small" for="input-1">Ваш Яндекс логин</label>
        <b-form-input
          id="input-1"
          type="text"
          placeholder="Enter yandex login"
          v-model="yandexLogin"
          required
          :disabled="!loading ? undefined : 'disabled'"
        >
          ></b-form-input
        >
        <b-button class="btn-lg btn-block" type="submit" variant="dark"
          >Войти</b-button
        >
      </b-form>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import ls from "local-storage";
import { checkYandexLoginExists } from "../lib/utils";

export default {
  name: "JoinParty",
  data() {
    return {
      partyName: "",
      yandexLogin: ls(`yaparty_login`) || "",
      loading: true,
    };
  },
  mounted() {
    const login = ls(`yaparty_${this.$route.params.uid}`);
    if (login) {
      this.$router.push({
        name: "party",
        params: { uid: this.$route.params.uid },
      });
      return;
    }
    this.loading = true;
    axios
      .get(`/api/v1/party/${this.$route.params.uid}`)
      .then((response) => {
        this.partyName = response.data.partyName;
      })
      .catch(() => {
        this.$router.push({ name: "index" });
      })
      .finally(() => {
        this.loading = false;
      });
  },
  methods: {
    onSubmit(event) {
      this.loading = true;
      event.preventDefault();
      checkYandexLoginExists(this.yandexLogin)
        .then(() => {
          axios
            .post(`/api/v1/party/${this.$route.params.uid}/join`, {
              login: this.yandexLogin,
            })
            .then(() => {
              this.$router.push({
                name: "party",
                params: { uid: this.$route.params.uid },
              });
              ls(`yaparty_login`, this.yandexLogin);
              ls(`yaparty_${this.$route.params.uid}`, this.yandexLogin);
            })
            .catch(() => {
              //todo show error
            });
        })
        .catch(() => {
          this.yandexLogin = "";
          alert("Такого логина в yandex не существует");
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<style>
.form-signin input {
  margin: 1em 0;
}
</style>
