<template>
  <div class="container-lg">
    <b-navbar toggleable="sm" type="ligth" variant="light">
      <b-navbar-brand href="/">Яндекс Вечеринка</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="mx-auto">
          <b-nav-item href="#" active><strong>Музыка</strong></b-nav-item>
          <b-nav-item href="#">Кинопоиск</b-nav-item>
          <b-nav-item href="#">Эфир</b-nav-item>
          <b-nav-item href="#">Еда</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-0 d-none d-md-block">
          <b-nav-item href="#">
            <b-avatar
              v-if="partyOwnerAvatar"
              :src="partyOwnerAvatar"
              class="nav-av"
              variant="light"
              :alt="partyOwnerName || partyOwner"
            ></b-avatar>
            <b-avatar
              v-if="!partyOwnerAvatar"
              :text="partyOwner"
              class="nav-av"
              variant="light"
              :alt="partyOwnerName || partyOwner"
            ></b-avatar>
            <span>{{ partyOwnerName || partyOwner }}</span>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-container style="padding-bottom: 100px">
      <b-row class="mb-4 mt-4">
        <b-col cols="12">
          <p class="small">Плейлист</p>
        </b-col>
        <b-col cols="12" class="d-inline-flex">
          <h1>{{ partyName }}</h1>
          <b-button variant="light" v-b-modal.modal-1 style="margin: 0 0.5em">
            <b-icon icon="person-plus" scale="1.75"></b-icon>
          </b-button>
        </b-col>
      </b-row>
      <b-row class="mb-4 mt-4">
        <b-col cols="12" class="mb-2 mt-2">
          <span
            v-for="user in userList"
            :key="user.login"
            class="user-item  mr-2 mb-2"
          >
            <b-avatar
              v-if="user.avatar"
              :src="user.avatar"
              variant="light"
            ></b-avatar>
            <b-avatar
              v-if="!user.avatar"
              :text="user.name || user.login"
              variant="light"
            ></b-avatar>
            <span>{{ user.name || user.login }}</span>
          </span>
        </b-col>
        <b-col
          cols="12"
          style="text-align: left; justify-content: space-between"
          class="mb-2 mt-2 user-buttons d-sm-flex"
        >
          <div>
            <b-button @click="onListenButtonClick" variant="warning">
              <b-icon v-if="!playerPlaying" icon="play-fill"></b-icon>
              <b-icon v-else icon="pause-fill"></b-icon> Слушать
            </b-button>

            <b-button
              :disabled="!loadingPlaylist ? undefined : 'disabled'"
              @click="regeneratePlaylist"
              :variant="hasNewUsers ? 'warning' : 'light'"
            >
              <b-icon icon="arrow-repeat"></b-icon>
            </b-button>
          </div>
        </b-col>
      </b-row>
      <b-row class="mb-4 mt-4">
        <b-col>
          <h2>Плейлист</h2>
          <b-list-group>
            <b-list-group-item
              class="row playlist-item"
              :style="{
                cursor: 'pointer',
                backgroundColor: index === selectedSong ? '#e7e7e7' : '#ffffff',
              }"
              @click="onPlaylistItemClick(index)"
              v-for="(playItem, index) in playlist"
              :key="index"
            >
              <div class="col-xs-12 col-sm-6">
                <img
                  :src="playItem.thumbnail"
                  style="width: 30px; height: 30px"
                />
                {{ playItem.author
                }}<span class="small"> — {{ playItem.title }}</span>
              </div>
              <div class="col-xs-12 col-sm-6 text-right">
                <span
                  v-for="liked in playItem.liked"
                  :key="liked"
                  class="user-track mt-2"
                >
                  <b-avatar
                    v-if="userMap[liked] && userMap[liked].avatar"
                    :src="userMap[liked].avatar"
                    variant="light"
                    v-b-tooltip.hover
                    :title="userMap[liked].name || userMap[liked].login"
                  ></b-avatar>
                  <b-avatar
                    v-if="userMap[liked] && !userMap[liked].avatar"
                    :text="userMap[liked].login"
                    variant="light"
                    v-b-tooltip.hover
                    :title="userMap[liked].name || userMap[liked].login"
                  ></b-avatar>
                </span>
                <div class="track-time small">{{ playItem.duration }}</div>
              </div>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="main-player fixed-bottom">
      <audio-player
        ref="player"
        :playlist="playlist"
        :party="party"
        v-on:select-song="onSelectSong"
      />
    </b-container>

    <b-modal id="modal-1" ref="modal" static hide-footer size="lg">
      <template #modal-title>
        <h2>Участники</h2>
      </template>
      <div class="d-block">
        <b-row>
          <b-col cols="12"  md="8" class="mb-4 mt-4">
            <p class="small mb-2">Пригласить по ссылке</p>
            <b-form inline>
              <b-form-input
                id="inline-form-input-link"
                class="mb-2 mr-sm-2 mb-sm-0"
                :placeholder="joinUrl"
                disabled
              ></b-form-input>
              <b-button
                class="copyUrlButton" id="copyButton"
                @click="copyToClipboardHandler"
                variant="light"
                >Скопировать</b-button
              >
            </b-form>
            <br />
            <p class="small">Сканировать QR-код</p>
            <div class="qrcode-box">
              <div id="qr-code" style="margin-left: -17px" ref="qrCode"></div>
            </div>
          </b-col>
          <b-col
            cols="12"
            md="4"
            class="mb-2 mt-2 d-flex"
            style="flex-direction: column"
          >
            <p class="small">Уже в группе</p>
            <span
              v-for="user in userList"
              :key="user.login"
              class="user-item mt-2"
            >
              <b-avatar
                v-if="user.avatar"
                :src="user.avatar"
                variant="light"
              ></b-avatar>
              <b-avatar
                v-if="!user.avatar"
                :text="user.login"
                variant="light"
              ></b-avatar>
              <span>{{ user.name || user.login }}</span>
            </span>
          </b-col>
        </b-row>
      </div>
    </b-modal>
  </div>
</template>

<script>
import QRCodeStyling from "qr-code-styling";
import AudioPlayer from "./AudioPlayer.vue";
import axios from "axios";
import Request from "axios-request-handler";
import ls from "local-storage";

function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;

  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand("copy");
    var msg = successful ? "successful" : "unsuccessful";
    console.log("Fallback: Copying text command was " + msg);
  } catch (err) {
    console.error("Fallback: Oops, unable to copy", err);
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
    return;
  }
  navigator.clipboard.writeText(text).then(
    function () {
        var copybutton = document.getElementById('copyButton');
      console.log("Async: Copying to clipboard was successful!");
      copybutton.innerHTML = "Скопировано!"
      setInterval(function(){
copybutton.innerHTML = "Скопировать"
}, 1000);
    },
    function (err) {
      console.error("Async: Could not copy text: ", err);
    }
  );
}
function millisToMinutesAndSeconds(millis) {
  var minutes = Math.floor(millis / 60000);
  var seconds = ((millis % 60000) / 1000).toFixed(0);
  return (
    (minutes < 10 ? "0" : "") +
    minutes +
    ":" +
    (seconds < 10 ? "0" : "") +
    seconds
  );
}
export default {
  name: "Party",
  data() {
    return {
      joinUrl: undefined,
      partyName: undefined,
      userList: [],
      loading: true,
      selectedSong: undefined,
      playlist: [],
      sources: [],
      loadingPlaylist: false,
      partyOwner: "",
      partyOwnerName: undefined,
      partyOwnerAvatar: undefined,
      playerPlaying: false,
      partyDataRequest: undefined,
      hasNewUsers: false,
      userMap: {},
    };
  },
  mounted() {
    this.partyDataRequest = new Request(
      `/api/v1/party/${this.$route.params.uid}`
    );

    this.getPartyData();
    this.$watch(
      () => this.$refs.player.playing,
      (value) => {
        console.log(value);
        this.playerPlaying = value;
      }
    );
  },
  components: {
    AudioPlayer,
  },
  computed: {
    party() {
      return this.$route.params.uid;
    },
  },
  methods: {
    copyToClipboardHandler() {
      copyTextToClipboard(this.joinUrl);
    },
    pollUpdate() {
      this.partyDataRequest
        .poll(2000)
        .get((response) => {
          console.log("update party data");
          this.partyName = response.data.partyName;
          this.joinUrl = response.data.joinUrl;
          this.partyOwner = response.data.partyOwner;

          const currentUserListCount = this.userList.length;
          const newUserListCount = response.data.users.length;

          if (newUserListCount > currentUserListCount) {
            this.hasNewUsers = true;
          }

          this.userList = response.data.users.map((userInfo) => {
            if (
              userInfo.login.toLowerCase() === this.partyOwner.toLowerCase()
            ) {
              this.partyOwnerAvatar = userInfo.avatarUrl;
              this.partyOwnerName = userInfo.name;
            }

            return {
              login: userInfo.login,
              name: userInfo.name,
              avatar: userInfo.avatarUrl || undefined,
            };
          });
          let userMap = {};
          const userList = this.userList;

          for (let i = 0; i < userList.length; i++) {
            const item = userList[i];
            userMap[item.login.toLowerCase()] = item;
          }

          this.userMap = userMap;
        })
        .catch((res) => {
          console.log("update data");
          if (res.response.status === 404) {
            this.$router.push({
              name: "index",
            });
          } else {
            alert("Неизвестная ошибка сервера");
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    regeneratePlaylist() {
      this.loadingPlaylist = true;
      axios
        .post(`/api/v1/party/${this.$route.params.uid}/playlist`)
        .then(() => {
          this.refreshPlaylist().then(() => {
            this.hasNewUsers = false;
            this.$refs["player"].resetCache();
            this.$refs["player"].seekPlaylistItem(0);
          });
        })
        .finally(() => {
          this.loadingPlaylist = false;
        });
    },
    onSelectSong(pointer) {
      this.selectedSong = pointer;
    },
    onPlaylistItemClick(index) {
      this.$refs["player"].seekPlaylistItem(index);
    },
    onListenButtonClick(index) {
      this.$refs["player"].togglePlayback(index);
    },
    refreshPlaylist() {
      return new Promise((resolve, reject) => {
        axios
          .get(`/api/v1/party/${this.$route.params.uid}/playlist`)
          .then((response) => {
            this.playlist = response.data.map((item) => {
              return {
                title: item.title,
                author: item.artists,
                trackId: item.id,
                thumbnail: `https://${item.coverUrl}`,
                album: item.albums,
                liked: item.liked,
                duration: millisToMinutesAndSeconds(item.durationMs),
              };
            });

            resolve();
          })
          .catch((er) => {
            reject(er);
          });
      });
    },
    getPartyData() {
      axios
        .get(`/api/v1/party/${this.$route.params.uid}`)
        .then((response) => {
          this.partyName = response.data.partyName;
          this.joinUrl = response.data.joinUrl;
          this.partyOwner = response.data.partyOwner;

          this.userList = response.data.users.map((userInfo) => {
            if (
              userInfo.login.toLowerCase() === this.partyOwner.toLowerCase()
            ) {
              this.partyOwnerAvatar = userInfo.avatarUrl;
              this.partyOwnerName = userInfo.name;
            }

            return {
              login: userInfo.login,
              name: userInfo.name,
              avatar: userInfo.avatarUrl || undefined,
            };
          });

          let userMap = {};
          const userList = this.userList;

          for (let i = 0; i < userList.length; i++) {
            const item = userList[i];
            userMap[item.login.toLowerCase()] = item;
          }

          this.userMap = userMap;

          const parties = ls(`yaparty_parties`) || {};
          const login = ls(`yaparty_${this.$route.params.uid}`);
          if (login && !parties[this.$route.params.uid]) {
            parties[this.$route.params.uid] = {
              partyName: response.data.partyName,
              timestamp: response.data.createdAt,
            };
            ls(`yaparty_parties`, parties);
          }

          this.drawQr();
          this.pollUpdate();
        })
        .catch((res) => {
          if (res.response.status === 404) {
            this.$router.push({
              name: "index",
            });
          } else {
            alert("Неизвестная ошибка сервера");
          }
        })
        .finally(() => {
          this.loading = false;
        });
      this.refreshPlaylist();
    },
    drawQr() {
      const qrCode = new QRCodeStyling({
        width: 200,
        height: 200,
        type: "svg",
        data: this.joinUrl,
        image: "/static/logo.png",
        dotsOptions: {
          color: "#000",
          type: "rounded",
        },
        backgroundOptions: {
          color: "transparent",
        },
        imageOptions: {
          crossOrigin: "anonymous",
          margin: 10,
          imageSize: "0.5",
        },
      });
      qrCode.append(this.$refs["qrCode"]);
    },
  },
};
</script>



<style>
@import "./../assets/scss/style.scss";
</style>
