<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  metaInfo: {
    title: "Яндекс Вечеринка: объединяйся с друзьями для безграничного веселья",
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      {
        name: "keywords",
        content: "Вечеринка, друзья, организация, тусовка, сервис",
      },
      {
        name: "description",
        content:
          "Нужно организовать тусу?  Вечеринка объединит твоих друзей с помощью медиасервисов Яндекса. Общий плейлист, кино, заказ еды и другие крутые фишки для всех, кто в деле.",
      },
    ],
  },
};
</script>

<style lang="scss">
</style>
