@font-face {
    font-family: 'Yandex Sans Bold';
    src: local('Yandex Sans Display Bold'), local('Yandex-Sans-Display-Bold'),
        url('../font/YandexSansDisplay-Bold.woff2') format('woff2'),
        url('../font/YandexSansDisplay-Bold.woff') format('woff'),
        url('../font/YandexSansDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Yandex Sans';
    src: local('Yandex Sans Display Regular'), local('Yandex-Sans-Display-Regular'),
        url('../font/YandexSansDisplay-Regular.woff2') format('woff2'),
        url('../font/YandexSansDisplay-Regular.woff') format('woff'),
        url('../font/YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Yandex Sans Thin';
    src: local('Yandex Sans Display Thin'), local('Yandex-Sans-Display-Thin'),
        url('../font/YandexSansDisplay-Thin.woff2') format('woff2'),
        url('../font/YandexSansDisplay-Thin.woff') format('woff'),
        url('../font/YandexSansDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

html {
  background-color: #444444;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  width: 100%;
  height: 100%;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'Yandex Sans Bold', sans-serif;
  font-weight: bolder;
}

body {
  font-family: 'Yandex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 16px;
  background-color: unset;
}
  html {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #f7f7f7 74%);
  }

  body {
    color: black;
  }

nav {
border-bottom: 1px solid rgb(229, 229, 229);
}
a.nav-link {
  color: black;
}
a.navbar-brand {
    font-weight: 900;
    color: black;
}

.mx-auto a.nav-link {
    margin: 0 1em;
}

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6;
    background-color: unset;
    color: black;
  }

  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
  }

  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }

.qrcode-box {
  img {
    width: 100%;
    height: auto;
  }
}

.b-avatar {
  margin-right: 10px;
  width: 2rem;
  height: 2rem;
}
.nav-av {
    width: 40px;
    height: 40px;
}

.badge-primary {
    background-color: #000;
}
.main-player {
  padding: 1em 0;
  background-color: #fdfdfd;
  padding-top: 20px;
}

.player-separator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.player-text {
  display: inline;
}
.player-text .lead {
  font-size: 1em;
    margin: 0;
}
.player-text .small {
  font-size: 0.75em;
  margin: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.playlist-item, .playlist-item:hover {
    background-color: #e7e7e7;
    border: 0;
  }
.small {
  color: #777;
    margin-bottom: 0;
    text-transform: uppercase;
}
.playlist-item .small {
  font-size: 1em;
text-transform: capitalize;
}
.user-buttons .btn {
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 1em;
}
.user-buttons    .btn-light { border: 1px solid #777; }

.btn-light:hover {
    color: #696969;
    background-color: transparent;
    border-color: transparent;;
}

.modal-header {
  border-bottom:0;
}
.modal {
    background-color: rgba(255, 255, 255, 0.5);
}
.modal-content {
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 3rem;
    padding: 1em 2em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}
.list-group-item img {
    margin: 0 .5em;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control:disabled, .form-control[readonly], .form-control:disabled::placeholder {
    background-color: #e9ecef;
    opacity: 1;
    color: black!important;
    font-family: 'Yandex Sans Bold';
}
.user-item {display: inline-block;}
.list-group-item {
    display: inherit; }
    .track-time.small {
        min-width: 50px;
        display: inline-block;
    }
